In [96]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

In [87]:
data = pd.read_csv('dataset_for_participants.csv')
dataClean = data.copy() 
dataClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   N                                   514 non-null    int64
 1   1. Field name                       514 non-null    object
 2   2. Reservoir unit                   514 non-null    object
 3   3. Country                          514 non-null    object
 4   4. Region                           514 non-null    object
 5   5. Basin name                       514 non-null    object
 6   6. Tectonic regime                  442 non-null    object
 7   7. Latitude                         514 non-null    float64
 8   8. Longitude                        514 non-null    float64
 9   9. Operator company                 514 non-null    object
 10  10. Onshore or offshore             514 non-null    object
 11  11. Hydrocarbon type (main)         514 non-null    object
 12  12. Reservoir status (current)      514 non-null    object
 13  13. Structural setting              514 non-null    object
 14  14. Depth (top reservoir ft TVD)    514 non-null    int64
 15  15. Reservoir period                514 non-null    object
 16  16. Lithology (main)                514 non-null    object
 17  17. Thickness (gross average ft)    514 non-null    float64
 18  18. Thickness (net pay average ft)  514 non-null    float64
 19  19. Porosity (matrix average %)     442 non-null    float64
 20  20. Permeability (air average mD)   514 non-null    float64
dtypes: float64(6), int64(2), object(13)
memory usage: 84.5+ KB

In [88]:
def missing_values_table(df):

        mis_val = df.isnull().sum()
        
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
       
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        
        return mis_val_table_ren_columns

In [89]:
missing_values_table(dataClean)

Your selected dataframe has 21 columns.
There are 2 columns that have missing values.

                                 Missing Values  % of Total Values
6. Tectonic regime                           72               14.0
19. Porosity (matrix average %)              72               14.0

In [90]:
missing_df = missing_values_table(dataClean);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

Your selected dataframe has 21 columns.
There are 2 columns that have missing values.
We will remove 0 columns.

In [94]:
correlations_data = dataClean.corr()['14. Depth (top reservoir ft TVD)'].sort_values()
print(correlations_data.head(15), '\n')
print(correlations_data.tail(15))

19. Porosity (matrix average %)      -0.402149
20. Permeability (air average mD)    -0.228442
8. Longitude                         -0.080640
17. Thickness (gross average ft)     -0.024884
N                                    -0.019977
7. Latitude                           0.104870
18. Thickness (net pay average ft)    0.159784
14. Depth (top reservoir ft TVD)      1.000000
Name: 14. Depth (top reservoir ft TVD), dtype: float64

19. Porosity (matrix average %)      -0.402149
20. Permeability (air average mD)    -0.228442
8. Longitude                         -0.080640
17. Thickness (gross average ft)     -0.024884
N                                    -0.019977
7. Latitude                           0.104870
18. Thickness (net pay average ft)    0.159784
14. Depth (top reservoir ft TVD)      1.000000
Name: 14. Depth (top reservoir ft TVD), dtype: float64

In [109]:
dataClean.dropna(subset= ['6. Tectonic regime'], inplace=True)
dataClean

,N,1. Field name,2. Reservoir unit,3. Country,4. Region,5. Basin name,6. Tectonic regime,7. Latitude,8. Longitude,9. Operator company,...,11. Hydrocarbon type (main),12. Reservoir status (current),13. Structural setting,14. Depth (top reservoir ft TVD),15. Reservoir period,16. Lithology (main),17. Thickness (gross average ft),18. Thickness (net pay average ft),19. Porosity (matrix average %),20. Permeability (air average mD)
0,6,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,...,OIL,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.00
1,10,ABU GHARADIG,BAHARIYA,EGYPT,AFRICA,ABU GHARADIG,EXTENSION,29.7422,28.4925,GUPCO,...,GAS-CONDENSATE,MATURE PRODUCTION,RIFT,10282,CRETACEOUS,SANDSTONE,745.0,144.0,10.0,8.00
2,11,ABU MADI-EL QARA,ABU MADI (LEVEL II),EGYPT,AFRICA,NILE DELTA,STRIKE-SLIP/TRANSTENSION/SHALE/EVAPORITE/BASEM...,31.4382,31.3616,IEOC,...,GAS,DECLINING PRODUCTION,WRENCH/DELTA,9843,NEOGENE,THINLY-BEDDED SANDSTONE,115.0,66.0,22.0,200.00
3,12,ABU MADI-EL QARA,ABU MADI (LEVEL III),EGYPT,AFRICA,NILE DELTA,STRIKE-SLIP/TRANSTENSION/SHALE/EVAPORITE/BASEM...,31.4382,31.3616,IEOC,...,GAS,DECLINING PRODUCTION,WRENCH/DELTA,10499,NEOGENE,SANDSTONE,509.0,410.0,20.0,300.00
4,20,AL HUWAISAH,SHUAIBA,OMAN,MIDDLE EAST,FAHUD SALT,COMPRESSION/EVAPORITE,21.9607,56.0452,PDO,...,OIL,REJUVENATING,SALT/FORELAND,4955,CRETACEOUS,LIMESTONE,250.0,100.0,21.0,60.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,1058,ZAOYUAN,KONGDIAN-1 (ZAOBEI BLOCK),CHINA,FAR EAST,BOHAI,EXTENSION,38.2100,117.0600,PETROCHINA,...,OIL,MATURE PRODUCTION,RIFT,5384,PALEOGENE,SANDSTONE,230.0,69.0,26.7,1872.00
509,1060,ZAOYUAN,KONGDIAN-1 (ZILAITUN BLOCK),CHINA,FAR EAST,BOHAI,EXTENSION,38.2100,117.0600,PETROCHINA,...,OIL,DECLINING PRODUCTION,RIFT,4721,PALEOGENE,SANDSTONE,164.0,62.0,23.2,121.00
511,1062,ZAOYUAN,UNNAMED (FENGHUADIAN BLOCK),CHINA,FAR EAST,BOHAI,EXTENSION,38.2100,117.0600,PETROCHINA,...,OIL,MATURE PRODUCTION,RIFT,9843,MESOZOIC,VOLCANICS,492.0,194.0,12.7,3.59
512,1070,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,...,OIL,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.00
513,1071,ZHIRNOV,TULIAN B1,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,...,OIL,NEARLY DEPLETED,FORELAND,3225,CARBONIFEROUS,SANDSTONE,128.0,44.0,26.0,1000.00

In [160]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(dataClean['3. Country'])
test = label_encoder.transform(dataClean['3. Country'])
dataClean['1. Field name'] = test
label_encoder.inverse_transform(test)

array(['SAUDI ARABIA', 'EGYPT', 'EGYPT', 'EGYPT', 'OMAN', 'USA',
       'KAZAKHSTAN', 'KAZAKHSTAN', 'USA', 'USA', 'UK', 'UK', 'USA', 'UK',
       'USA', 'UK', 'INDIA', 'USA', 'USA', 'INDONESIA', 'INDONESIA',
       'UAE', 'TUNISIA', 'UK', 'UK', 'BAHRAIN', 'EGYPT', 'EGYPT', 'EGYPT',
       'EGYPT', 'EGYPT', 'IRAQ', 'CHINA', 'INDONESIA', 'USA', 'INDIA',
       'MALAYSIA', 'UK', 'AUSTRALIA', 'AUSTRALIA', 'USA', 'EGYPT', 'USA',
       'SAUDI ARABIA', 'UK', 'UK', 'UK', 'IRAN', 'USA', 'USA', 'USA',
       'USA', 'THAILAND', 'USA', 'USA', 'NORWAY', 'NORWAY', 'USA', 'USA',
       'USA', 'UK', 'UAE', 'QATAR', 'QATAR', 'INDONESIA', 'USA', 'USA',
       'BRAZIL', 'COLOMBIA', 'BRAZIL', 'CANADA', 'CANADA', 'CANADA',
       'USA', 'USA', 'USA', 'PERU', 'USA', 'USA', 'FRANCE', 'RUSSIA',
       'RUSSIA', 'USA', 'FRANCE', 'FRANCE', 'FRANCE', 'TURKMENISTAN',
       'CHINA', 'MAURITANIA', 'INDONESIA', 'UK', 'UK', 'USA', 'USA',
       'CANADA', 'CANADA', 'USA', 'COLOMBIA', 'USA', 'DENMARK', 'CHINA',
       'LIBYA', 'NIGERIA', 'NIGERIA', 'USA', 'AFGHANISTAN',
       'TURKMENISTAN', 'CHINA', 'CANADA', 'NORWAY', 'QATAR', 'QATAR',
       'QATAR', 'USA', 'INDONESIA', 'INDONESIA', 'TURKMENISTAN', 'CANADA',
       'USA', 'NORWAY', 'NORWAY', 'TUNISIA /ALGERIA', 'USA', 'VENEZUELA',
       'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'MALAYSIA', 'UK',
       'UK', 'UK', 'GABON', 'UK', 'USA', 'AUSTRALIA', 'USA', 'UK', 'USA',
       'CHINA', 'TURKMENISTAN', 'BRAZIL', 'CANADA', 'CANADA', 'CHINA',
       'CHINA', 'USA', 'AUSTRALIA', 'USA', 'CANADA', 'AUSTRALIA',
       'TURKMENISTAN', 'KUWAIT', 'AUSTRALIA', 'CHINA', 'CHINA', 'NORWAY',
       'NORWAY', 'AUSTRALIA', 'INDONESIA', 'CANADA', 'USA', 'USA', 'USA',
       'UK', 'INDIA', 'NORWAY', 'USA', 'CANADA', 'CANADA',
       'PAPUA NEW GUINEA', 'CANADA', 'USA', 'CHINA', 'USA', 'USA', 'USA',
       'UK', 'PAPUA NEW GUINEA', 'QATAR', 'UK', 'USA', 'CHINA', 'CANADA',
       'CANADA', 'EGYPT', 'CANADA', 'CANADA', 'INDIA', 'KAZAKHSTAN',
       'KAZAKHSTAN', 'INDONESIA', 'AUSTRALIA', 'USA', 'CANADA', 'CHINA',
       'USA', 'INDONESIA', 'INDONESIA', 'NEUTRAL ZONE', 'NEUTRAL ZONE',
       'EGYPT', 'MALAYSIA', 'USA', 'RUSSIA', 'RUSSIA', 'KAZAKHSTAN',
       'INDONESIA', 'RUSSIA', 'RUSSIA', 'RUSSIA', 'USA', 'USA', 'BRAZIL',
       'USA', 'VENEZUELA', 'INDIA', 'CHINA', 'CHINA', 'CHINA', 'USA',
       'CANADA', 'USA', 'USA', 'CHINA', 'CHINA', 'CANADA', 'CANADA',
       'USA', 'USA', 'USA', 'RUSSIA', 'USA', 'USA', 'CHINA', 'IRAN',
       'IRAN', 'RUSSIA', 'BRAZIL', 'RUSSIA', 'AUSTRIA', 'CHINA', 'QATAR',
       'QATAR', 'USA', 'USA', 'USA', 'USA', 'CANADA', 'CANADA',
       'VENEZUELA', 'RUSSIA', 'CANADA', 'NORWAY', 'CANADA', 'USA',
       'INDONESIA', 'TUNISIA', 'TUNISIA', 'TUNISIA', 'CANADA', 'USA',
       'RUSSIA', 'UK /NORWAY', 'LIBYA', 'OMAN', 'INDONESIA', 'USA', 'USA',
       'USA', 'UK', 'CANADA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA',
       'USA', 'ANGOLA', 'EGYPT', 'RUSSIA', 'RUSSIA', 'SOUTH AFRICA',
       'NORWAY', 'VENEZUELA', 'VENEZUELA', 'AUSTRALIA', 'BRAZIL',
       'FRANCE', 'USA', 'CANADA', 'USA', 'CANADA', 'CANADA',
       'TRINIDAD AND TOBAGO', 'USA', 'RUSSIA', 'RUSSIA', 'RUSSIA', 'USA',
       'RUSSIA', 'RUSSIA', 'CANADA', 'EGYPT', 'SAUDI ARABIA',
       'SAUDI ARABIA', 'VENEZUELA', 'USA', 'CANADA', 'INDONESIA', 'EGYPT',
       'TURKEY', 'INDONESIA', 'USA', 'EGYPT', 'USA', 'CANADA', 'ALGERIA',
       'OMAN', 'USA', 'RUSSIA', 'BRAZIL', 'CANADA', 'USA', 'ECUADOR',
       'OMAN', 'OMAN', 'USA', 'MALAYSIA', 'INDIA', 'INDIA', 'UK',
       'NETHERLANDS /GERMANY', 'UK', 'INDONESIA', 'CHINA', 'TURKMENISTAN',
       'TURKMENISTAN', 'THAILAND', 'USA', 'AUSTRALIA', 'CANADA', 'USA',
       'USA', 'USA', 'NORWAY /UK', 'CANADA', 'CANADA', 'CHINA', 'USA',
       'AUSTRALIA', 'CANADA', 'CANADA', 'CANADA', 'ANGOLA', 'USA',
       'RUSSIA', 'CANADA', 'USA', 'EGYPT', 'UK', 'UK', 'USA', 'VENEZUELA',
       'USA', 'AUSTRALIA', 'RUSSIA', 'NORWAY', 'NORWAY', 'AUSTRALIA',
       'CANADA', 'UZBEKISTAN', 'UZBEKISTAN', 'NORWAY', 'USA', 'RUSSIA',
       'KAZAKHSTAN', 'USA', 'DENMARK', 'NORWAY', 'CANADA', 'RUSSIA',
       'CANADA', 'RUSSIA', 'RUSSIA', 'USA', 'NORWAY', 'UK', 'USA',
       'FRANCE', 'CANADA', 'NEUTRAL ZONE', 'AUSTRALIA', 'CHINA', 'CHINA',
       'USA', 'CANADA', 'USA', 'CHINA', 'USA', 'CANADA', 'CHINA', 'USA',
       'CANADA', 'USA', 'RUSSIA', 'USA', 'USA', 'CANADA', 'CANADA', 'USA',
       'USA', 'CHINA', 'CHINA', 'UK', 'CHINA', 'CHINA', 'CHINA', 'CHINA',
       'INDONESIA', 'RUSSIA', 'CHINA', 'CHINA', 'RUSSIA', 'USA', 'OMAN',
       'OMAN', 'CHINA', 'USA', 'EQUATORIAL GUINEA', 'UAE', 'UAE', 'UAE',
       'CHINA', 'CHINA', 'CHINA', 'RUSSIA', 'RUSSIA'], dtype=object)